@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/semantic-ui/dist/semantic.min.css';
@import '../node_modules/jquery-confirm/dist/jquery-confirm.min.css';
@import 'app/styles/confirm-modal.less';


@modal-header-background-color:               green;
@images-uploader-background:                  green;
@background-color-default:                    #fff;
@dropdown-selected-value:                     #000;


.ui.link.cards {
  margin-top: 10px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.modal-header {
  background-color: @modal-header-background-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-content {
  width: max-content;
}

.modal-dialog {
  width: 600px;
  margin: 30px auto;
  position: absolute;
  top: 10%;
  left: 30%;
  margin-left: -50px;
  margin-top: -50px;
}

.modal-header .title {
  display: inline;
}

.center {
  text-align: center;
}

.mat-drawer-container {
  background-color: @background-color-default;
  color: @background-color-default;
  height: available!important;
  z-index: unset!important;
}

.mat-drawer-content {
  height: unset!important;
  overflow: unset!important;
  z-index: unset!important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: @dropdown-selected-value;
}

.mat-list {
  padding-top:10px!important;
  .mat-list-item {
    margin-top: 20px;
  }
}

.searchItem {
  border: 1px solid black!important;
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 000, 0, 0.67);
  }
  background: @background-color-default;
  padding: 10px;
}

.header-centered {
  text-align: center;
}

.ui.form select {
  height: 34px;
}

.field.noWidth {
  width: unset!important;
}

.img-ul {
  width: max-content!important;
  border: none!important;
}
.img-ul-image {
  //left: 85px!important;
  //top: -100px !important;
}

.img-ul-container {
  height: 0px!important;
}

#imageUploader {
  float: right;
  //display: none;
  //positionion: relative;
  //top: -35px;
}
.img-ul-file-upload {
  padding: 0px!important;
}
.img-ul-drag-box-msg {
  display: none!important;
}
.img-ul-clear.img-ul-button {
  display: none!important;
}
.cabinet-avatar {
  height: 120px;
}
