
<div *ngIf="loading"><img class="spinner" src="assets/ajax-loader.gif"></div>
<div *ngIf="!loading">
  <button (click)="showAddEntityForm()"
          class="ui positive button">Add User
  </button>
  <template #addEditEntity></template>
  <div class="ui special link cards">
    <single-entity class="card"
            *ngFor="let entity of entityList"
                 [entity]="entity"
                   [editForm] = "addEditContainerRef"
                   [entityListComponent]="this">
    </single-entity>
  </div>
</div>
<app-pagination [entityListComponent]="this" ></app-pagination>
<!--<app-pagination [links] = "links"></app-pagination>-->
