
<div *ngIf="loading"><img class="spinner" src="assets/ajax-loader.gif"></div>
<div *ngIf="!loading">
  <mat-sidenav-container>
    <mat-sidenav #sidenav  mode="push">
      <mat-list>
        <mat-list-item>
          <button (click)="showAddEntityForm()"
                  class="ui positive button">Add User
          </button>
        </mat-list-item>
        <mat-list-item>
          <entities-per-page [entityListComponent]="this"></entities-per-page>
        </mat-list-item>
        <mat-list-item>
          <sorting-entities [entityListComponent]="this"></sorting-entities>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="menu-icon">
        <img src="assets/menu_icon.png" style="height: 40px; width: 40px;" mat-button (mouseover)="sidenav.toggle()"/>
      </div>
      <search [entityListComponent]="this"></search>

      <div class="ui special link cards">
        <single-entity class="card"
                       *ngFor="let entity of entityList"
                       [entity]="entity"
                       [editForm] = "addEditContainerRef"
                       [entityListComponent]="this">
        </single-entity>
      </div>
      <app-pagination [entityListComponent]="this" ></app-pagination>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <template #addEditEntity></template>
</div>

