<div class="ui main text container">
  <form class="ui large form segment"
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)">

    <div class="field">
      <label for="title">Title</label>
      <input type="text"
             id="title"
             placeholder="Title"
             [formControl]="myForm.controls['title']">
    </div>
    <div class="field">
      <label for="content">Content</label>
      <input type="text"
             id="content"
             placeholder="Content"
             [formControl]="myForm.controls['content']">
    </div>

    <button type="submit"
            class="ui positive right floated button"
            *ngIf="isValidToSubmit()">Submit
    </button>
  </form>
</div>

