<!--<div class="ui inverted segment" xmlns:th="http://www.w3.org/1999/xhtml">-->
  <!--<div class="ui inverted secondary pointing menu">-->
    <!--<a class="item" [routerLink]="['/']">-->
      <!--Home-->
    <!--</a>-->
    <!--<a class="item" [routerLink]="['../main/second']">-->
      <!--Second Page-->
    <!--</a>-->
    <!--<a class="item" [routerLink]="['../main/allUsers']">-->
      <!--All Users-->
    <!--</a>-->
    <!--<div class="right menu" >-->
      <!--<a class="item" (click)="logout()" *ngIf="this.authService.isLoggedIn()">-->
        <!--Log Out-->
      <!--</a>-->
      <!--<a class="item" [routerLink]="['/login']" *ngIf="!this.authService.isLoggedIn()">-->
        <!--Log In-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <img src="assets/login.jpg" class="img-responsive center-block" width="300" height="300" alt="Logo" />
  <form class="form-signin">
    <div class="alert alert-danger" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <h3 class="form-signin-heading">Welcome</h3>
    <br/>

    <div class="form-group">
      <label for="username">E-mail</label>
      <input class="form-control" name="username" id="username" #username>
    </div> <br/>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" #password>
    </div> <br />

    <button class="btn btn-lg btn-primary btn-block"
            name="Submit" value="Login" type="Submit"
            (click)="login(username.value, password.value)">Login</button>
    <a class="item" [routerLink]="['/main/register']">
      Register
    </a>
  </form>

</div>

