
<div *ngIf="loading"><img class="spinner" src="assets/ajax-loader.gif"></div>
<div *ngIf="!loading">
  <button (click)="showAddEntityForm()"
          class="ui positive button">Add User
  </button>

  <button [routerLink]="['./first']"
          class="ui positive button">First
  </button>
  <button [routerLink]="['./second']"
          class="ui positive button">Second
  </button>

  <router-outlet></router-outlet>
  <template #addEntity></template>
  <div class="ui link cards">
    <single-entity class="card"
            *ngFor="let entity of entityList"
                 [entity]="entity">
    </single-entity>
  </div>
</div>
