.error {
  color: red;
}

.has-success .form-control {
  border-color: #5cb85c;
}

.has-danger .form-control {
  border-color: #d9534f;
}
.ui.main.text.container {
  margin-bottom: 10px;
}

.header-centered {
  text-align: center;
}
.ui.form select {
  height: 34px;
}
