<div class="entitiesPerPage right floated">
  <!--<label for="entitiesPerPageDropdown">Entities per Page:</label>-->
  <mat-form-field>
    <mat-select placeholder="Entities per Page"
                (change)="changePageSize($event.value)"
                id="entitiesPerPageDropdown"
                [value]="this.paginationService.currentPageSize">
      <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize">
        {{ pageSize }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
