<div class="center">
  <ul class="pagination">
    <li onclick="$(this).siblings().addClass('active').not(':eq(1)').removeClass('active')">
      <a (click)="getFirstPage()">«</a>
    </li>
    <li>
      <a (click)="getPreviousPage()"><</a>
    </li>
    <!--{#pages}-->
    <li>
      <a>1</a>
    </li>
    <li>
      <a>1</a>
    </li>
    <li>
      <a>1</a>
    </li>
    <!--{/pages}-->
    <li>
      <a (click)="getNextPage()">></a>
    </li>
    <li onclick="$(this).siblings().prev().addClass('active').not('li:last').removeClass('active')">
      <a (click)="getLastPage()">»</a>
    </li>
  </ul>
</div>
