<div class="blurring dimmable image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <button class="ui inverted button" (click)="editUser()">Edit</button>
        <button class="ui inverted button" (click)="removeUser()">Delete</button>
        <br/>
        <br/>
        <a [routerLink]="['.', entity.id]">
          <button class="ui inverted button">More ...</button>
        </a>
      </div>
    </div>
  </div>
  <img src="../../assets/{{entity.sex}}.png">
</div>

<a class="ui large header">
  {{ entity.firstName }} {{ entity.lastName }}
</a>
<div class="meta">{{ entity.phone }}</div>



